html, body {
  font-family: 'Nunito', sans-serif;
  outline: none !important;
  outline-color: transparent;
  scroll-behavior: smooth;
}

b{
  font-size: 16px !important;
  padding-bottom: 7px;
}

.a-to-tp{
  font-size: 12px;
  color: red;
}
